#claim2.page
  %fieldset
    %legend Claim your username
    .form-explain If you have already reserved a username with us, claim it here.
    .control-group
      %label.control-label Email
      .controls
        %input{:placeholder => "Enter your email", :type => "text"}
    .control-group
      %label.control-label Password
      .controls
        %input{:placeholder => "Set a password", :type => "password"}
    .control-group
      %label.control-label Confirm password
      .controls
        %input{:placeholder => "Confirm your password", :type => "password"}
    .form-actions
      %a{:href => "#c-codeconfirm2"} Claim
