#confirmcode2.page
  .form-explain
    You will soon receive an email from us. Once this occurs, copy the code contained within into this form and enter a password to claim your username.
  %a{:href => "#profilecreate1"} Submit
