#p-codeconfirm2.page
  .form-explain
    You will soon receive an email from us. Follow the link inside to log in with your new password.
  .aux-link.left
    %a{:href => "#fullapp2"} Back to hypothesis
