#passwordrecover2.page
  %fieldset
    %legend Password recovery
    .form-explain You forgot your password? No worries, just enter your email and set a new password.
    .control-group
      %label.control-label Email
      .controls
        %input{:placeholder => "Email", :type => "text"}
    .control-group
      %label.control-label New password
      .controls
        %input{:placeholder => "Password", :type => "password"}
    .control-group
      %label.control-label Confirm password
      .controls
        %input{:placeholder => "Confirm your password", :type => "password"}
    .form-actions
      %a{:href => "#p-codeconfirm2"} Submit
