#profilecreate2.page
  %fieldset
    %legend Create profile (All fields are optional)
    .pic-group
      .profile-pic
      .form-explain
        Upload a profile picture. Images over 700k will be compressed.
        %a{:href => "#"} Learn more
      .form-actions
        %button{:type => "submit"} Upload
    .control-group
      %label.control-label Display name
      .controls
        %input{:placeholder => "Display name", :type => "text"}
    .control-group
      %label.control-label Location
      .controls
        %input{:placeholder => "Location", :type => "text"}
    .control-group
      %label.control-label Website
      .controls
        %input{:placeholder => "Website", :type => "text"}
    .control-group
      %label.control-label Bio
      .controls
        %textarea{:placeholder => "Bio"}
    .form-actions
      %a{:href => "#fullapp2"} All done!
