#twitterscreen2.page
  .twitterstuff
    %a{:href => "#fullapp2"}
      %img{:src => "images/sign-in-with-twitter.png"}
    .mockup-link
      %a{:href => "#t-register2"} (not yet registered with hypothesis)
      %a{:href => "#usernametaken2"} (username taken)
