#usernametaken2.page
  %fieldset
    %legend Pick a different username
    .form-explain Looks like <strong>UserName</strong> is already taken. Please try another username.
    %ul.deformSet
      %li.deformSet-item
        %input{:type => "radio", :name => "username", :value => "un1"} UserName23
      %li.deformSet-item
        %input{:type => "radio", :name => "username", :value => "un2"} NameUser
      %li.deformSet-item
        %input{:type => "radio", :name => "username", :value => "un3"} UN622
      %li.deformSet-item
        %input{:type => "radio", :name => "username", :value => "un4"} UserN
    .control-group
      %label.control-label Custom username
      .controls
        %input{:placeholder => "Custom Username", :type => "text"}
    .form-actions
      %a{:href => "#profilecreate2"} Submit
