#emailreceive1.page
  .form-explain
    You will soon receive an email from us. Once this occurs, follow the instructions contained within to complete your registration or reset your password. Once you have done this, follow the link below to log in.
  %a{:href => "#login1"} Back to login
