#passwordrecover1.page
  %fieldset
    %legend Password recovery
    .form-explain You forgot your password? No worries, just enter your email to receive instructions on how to reset it.
    .control-group
      %label.control-label Email
      .controls
        %input{:placeholder => "Email", :type => "text"}
    .form-actions
      %a{:href => "#emailreceive1"} Submit
