- content_for :head do
  %title Hypothesis Scratchpad

.scratchpad-warning
  .larger Scratchpad
  .smaller (not the actual app!)

//= partial "buttons.haml"
//= partial "quote.haml"
//= partial "quote2.haml"
//= partial "pointy_buttons.haml"

//= partial "buttons2.haml"
//= partial "regforms1/regforms1.haml"
= partial "regforms2/regforms2.haml"
